<% content_for :header do %>
  <div id="Nav">
      <h2>Editing list</h2>
      <%= link_to 'Cancel', @list %> | <%= link_to 'Delete this list', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<%= form_for(@list) do |f| %>
  <h3>TITLE</h3>
  <div class="list_name">
    <%= f.text_field :name, :class=>"field-listname" %>
  </div>

  <h3>ITEMS</h3>
	<ul id="task_list">
		<% @tasks.each do |task| %>
	  		<li>
          <input type="hidden" name="task_ids[]" value="<%= task.id %>"/>
          <input type="text" name="task_names[]" value="<%= task.name %>" class="field-taskname"/>
          <%= image_tag "delete.png", :class => "todo_delete" %>
        </li>
		<% end %>
	</ul>
  <div class="actions">
    <%= f.submit("Save this list", :class => "btn btn-large btn-block btn-info")%> | 
    <%= link_to 'Cancel', @list %>
  </div>
<% end %>
