<% content_for :header do %>
	<h2>My Lists</h2>
	<%= link_to 'Create a new list', new_list_path %>
<% end %>

<div class="recent">
	<h1>MY LISTS</h1>
	<ul>
	<% @todolist.each do |list| %>
		<% count = list.tasks.length >= 3*(5-1) ? 5 : list.tasks.length/3+1 %>
		<li class="open-<%= count %>">
			<%= link_to list.name, list %>
			<span class="meta"> — <strong><%= list.tasks.length %> left</strong></span>
		</li>
	<% end %>
	</ul>
	<div class="complete">
		Completed lists: 
		<% @donelist.each_with_index do |list, index| %>
			<span><%= link_to list.name, list %><%= "," if (@donelist.length-1 != index) %></span>
		<% end %>
	</div>
</div>
