<% content_for :header do %>
	<h2>New list</h2>
	<%= link_to 'My lists', lists_path %>
<% end %>

<%= form_for(@list) do |f| %>
	<div>
    	<h3 class="field-list-label">
        	Name your new list
        	<span>(Ex: "Things I need to do today")</span>
	    </h3>
    	<%= f.text_field :name, :class=>"field-list-name" %>
	</div>
	<div>
    	<%= f.submit("Create this list", :class => "btn btn-large btn-block btn-info") %> or <%= link_to 'Cancel', lists_path %>
	</div>
<% end %>
