<p id="notice"><%= notice %></p>

<h3><%= link_to 'My Lists', lists_path %></h3>

<div><%= @list.name %></div>

<ul id="task_list">
	<% @undone_list.each do |task| %>
  		<li><input type="checkbox" name="todo_id" value="<%= task.id %>" class="todo_done"><%= task.name %></li>
	<% end %>
</ul>

<div><%= text_field :task, :name %></div>
<input id="id_add_task" type="button" name="add" value="Add Task"/>

<ul id="done_list">
	<% @done_list.each do |task| %>
  		<li><input type="checkbox" name="todo_id" value="<%= task.id %>" class="todo_undone" checked><%= task.name %></li>
	<% end %>
</ul>

<input type="hidden" name="id" value="<%= @list.id %>" id="id_list_id">
