<% content_for :header do %>
	<h2>Show this list</h2>
	<%= link_to 'My Lists', lists_path %>
	|
	<%= link_to 'Edit', edit_list_path(@list) %>
<% end %>

<div class="ListHeader">
	<h3><%= @list.name %></h3>
</div>

<ul id="task-list" class="ui-sortable">
	<% @undone_list.each do |task| %>
  		<li class="task_list_li" task-id="<%= task.id %>">
  			<input type="checkbox" name="todo_id" value="<%= task.id %>" class="todo_done"><%= task.name %>
  		</li>
	<% end %>
</ul>

<div id="add-task-form">
	<div><%= text_field :task, :name, {:id=> "field-task-name"} %></div>
	<input id="input-add-task" type="button" name="add" value="Add Task" class="btn btn-small btn-block btn-info"/> | 
	<%= link_to("Close", "#", {:id=>"close-task-link"}) %>
</div>

<div id="add-task-link">
	<%= link_to("Add another item", "#", {:id=>"add-item-link"}) %>
</div>

<ul id="done-list">
	<% @done_list.each do |task| %>
  		<li><input type="checkbox" name="todo_id" value="<%= task.id %>" class="todo_undone" checked><%= task.name %></li>
	<% end %>
</ul>

<input type="hidden" name="id" value="<%= @list.id %>" id="hidden-list-id">
