<% content_for :header do %>
	<h2>Account</h2>
	<%= link_to 'Back', "/" %>
<% end %>

<div class="account-div">
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<h1>Change your email address</h1> 
	<%= form_for(@user, :url=>{:action=>"change_email"}, :method=>"POST") do |f| %>
		<h3>ENTER A <strong>NEW</strong> EMAIL ADDRESS</h3>
	    <%= f.text_field :new_email %>
		<h3>TYPE THAT EMAIL ADDRESS <strong>AGAIN</strong></h3>
	    <%= f.text_field :new_email_confirmation %>
	    <h3>&nbsp;</h3>
	    <%= f.submit("Save my new email", :class => "btn btn-large btn-block btn-info") %>
	<% end %>
</div>
