<% content_for :header do %>
	<h2>Account</h2>
	<%= link_to 'Back', "/" %>
<% end %>

<div class="sign-div">
	<h1>Change your password</h1> 
	<%= form_tag do %>
	<h3>ENTER YOUR CURRENT PASSWORD</h3>
    <%= password_field_tag :existing_password %>
	<h3>ENTER A NEW PASSWORD</h3>
    <%= password_field_tag :new_password %>
	<h3>TYPE YOUR NEW PASSWORD AGAIN</h3>
    <%= password_field_tag :new_password_confirmation %>
    <h3>&nbsp;</h3>
    <%= submit_tag("Save my new password", :class => "btn btn-large btn-block btn-info") %>
	<% end %>
</div>
