<!DOCTYPE html>
<html>
<head>
  <title>iToDo</title>
  <%= favicon_link_tag       "icon-todo.png" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <div id="Container">
      <div id="Header">
        <div id="Nav">
          <%= yield :header %>
        </div>
      </div>
      <div class="Left">
        <%= yield %>
      </div>
      <div class="Right">
        <div class="greyoutlinebox">
          <p>Your account</p>
          <p>
            <%= link_to "Log out", "/log_out" %>, 
            <%= link_to "change password", "/account/change_password" %>, 
            <%= link_to "change email", "/account/change_email" %> or 
            <%= link_to "cancel account" %>
          </p>
        </div>
      </div>
      <div id="footer">
        MADE BY <%= link_to "@dongriab", "http://twitter.com/@dongriab" %>
      </div>
    </div>
  </div>

<script src="http://dongram.com/analytics/ga.js" type="text/javascript"></script>
</body>
</html>
