<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= favicon_link_tag       "icon-todo.png" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <div id="Container">
      <div id="Header" class="no-print">
        <div id="Nav">
          <%= yield :header %>
        </div>
      </div>
      <div class="Left">
        <%= yield %>
      </div>
      <div class="Right no-print">
        <div class="greyoutlinebox">
          <h4>Your account</h4>
          <p><%= current_user.username %> : <%= current_user.email %></p>
          <p>
            <%= link_to "Log out",         "/log_out" %>, 
            <%= link_to "change password", "/account/change_password" %>, 
            <%= link_to "change email",    "/account/change_email" %> or 
            <%= link_to "cancel account",  "/account/cancel_account", data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
      <div id="Footer" class="no-print">
        xxx
      </div>
    </div>
  </div>
</body>
</html>
